.header{
    background-color:#F5E8C7;
    margin-bottom:2rem;
    text-align:center;
}

.logo img{
    width:auto;
    max-width:60px;
    max-height:60px;
    border-radius: 50%;
}

h1, h2, h3, h4{
    font-weight:lighter;
}

.navbar-nav a {
    color: #333;
}

.navbar-nav a:hover {
    background-color: #f0f0f0;
    color: #555;
}

.chessboard {
    border-collapse: collapse; 
    margin: 0 auto; 
}

.chessboard td {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    font-size: 36px;
}

.queen {
    color: black;
}