{% extends "nqueens/layout.html"%}


{% block title %}
    Solution 
{% endblock %}

{% block main %}
    <h3 class="mb-3">Here is a solution for the {{ n }}x{{ n }} board:</h3>

    <table class="chessboard">
        {% for row in solution %}
        <tr>
            {% for col in row %}
                <td>
                    {% if col == 1 %}
                        <span class="queen">♛</span>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

{% endblock %}