{% extends 'polyhex/layout.html' %}
{% block app_name %} Polyhex {% endblock %}
{% block title %} Generator {% endblock %}

{% block main %}

{% load static %}
<script src="{% static 'polyhex/js/generator.js' %}" defer></script>

<!-- Inline CSS styling to initially hide the stop button and solution status section -->
<style>
    #stopButton, .s_f_s { display: none; }
</style>

<!-- Display this form if there are generated solutions available -->
{% if solutions_len %}
<form action="{% url 'polyhex_solutions' %}" method="post" class="mb-3" onsubmit="showLoading()">
    {% csrf_token %}
    <!-- Show the number of generated solutions -->
    <h3 class="mb-3"> There are {{ solutions_len }} generated solutions {% if pieces_placed_len %} for your configuration ({{pieces_placed_len}} pieces placed) {% else %} for empty board {% endif %}</h3>
    <!-- Button to navigate to the solutions page -->
    <button name="button" value="go_solutions" class="btn btn-primary">Go see them</button>
    <!-- Button to reset the solution generation -->
    <button name="button" value="reset" class="btn btn-danger">Reset</button>
</form>
{% else %}

<!-- Solver interface if no solutions have been generated yet -->
<div class="w_t_s">
    <h1> Solver </h1>
    <h4> Press start to generate all possible solutions for the 5x11 board </h4>
    {% if pieces_placed_len %}
    <h5> (for {{pieces_placed_len}} pieces already placed) </h5>
    {% endif %}
    <button id="startButton" type="submit" class="btn btn-primary mb-3">Start</button>
</div>

<!-- Solution status section, initially hidden, to show the number of solutions found during generation -->
<div class="s_f_s">
    <h3 id="sols_found" class="mb-3">Solutions found</h3>
    <h3 id="solutions_found">0</h3>
</div>

<!-- Stop button to interrupt the solution generation process, initially hidden -->
<div>
    <button id="stopButton" class="btn btn-danger mb-3">Stop</button>
</div>

{% endif %}

{% endblock %}