{% extends 'polyhex/3dlayout.html'%}

{% block title %} Solutions {% endblock %}
{% block body %}
{% load static %}
<link href="{% static '/pyramid/css/styles.css' %}" rel="stylesheet">
<body>
  <div id="statusSection">
    Solutions: {{ solutions_len }}
    <div id="pageStatusMessageHex">Specify page size (1-25):</div>
    <input type="number" id="page-size-input" value="9" min="1" max="25">
    <button class="btn btn-success" id="page-size-apply">Apply</button>
    <div id="statusMessage">Specify the radius of sight:</div>
    <input id="radiusInput" type="number" placeholder="Enter radius (50 to 1000)">
    <button class="btn btn-success" id="applyChanges">Apply</button>
  </div>

  <div id="texture-url" style="display: none;">{% static 'pyramid/js/snow_texture.webp' %}</div>

  <script id="pyramid-data" type="application/json">
      {{ solutions|safe }}
  </script>

  <div class="button-container">
    <button class="btn btn-success" id="view-pyramid">View Pyramid</button>
    <button class="btn btn-success" id="reset-camera">Reset Camera</button>
    <span id="page-info">Page 1 of X</span>
    <button class="btn btn-success" id="prev-page">Previous</button>
    <button class="btn btn-success" id="next-page">Next</button>
    <a class="btn btn-success" href="{% url 'polyhex_puzzle' %}" id="back" class="button">Back</a>
  </div>

  <!-- Overlay container -->
  <div id="overlay" class="overlay" style="display: none;">
    <div class="overlay-content">
      <div class="button-container overlay-button-container">
        <button class="btn btn-success"  id="h-view">Horizonal View</button>
        <button class="btn btn-success"  id="v-view">Vertical View</button>
        <button class="btn btn-success" id="n-view">Normal View</button>
        <button class="btn btn-success" id="close-view">Close</button>
      </div>
      <canvas id="overlay-canvas"></canvas>
    </div>
  </div>
  <canvas class="threejs"></canvas>
  <script type="module" src="{% static 'polyhex/js/solutions.js' %}"></script>
</body>
{% endblock %}