{% extends 'layout.html' %}

{% block app_name %} Pyramid {% endblock %}

{% block links %}
{% load static %}

<script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@0.170.0/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.170.0/examples/jsm/"
      }
    }
</script>
  
<!-- Importing jQuery library for DOM manipulation and event handling -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}