{% extends 'pyramid/layout.html' %}

{% load static %}  

{% block title %}3D Pyramid Puzzle{% endblock %}

{% block main %}

<h2>3D Polysphere Pyramid Puzzle</h2>

<button id="tc"> Toggle Camera Control</button>
<button id="svv"> Split View V</button>
<button id="rotate"> Rotate </button>
<button id="change-orientation"> Change orientation </button>
<button id="reset-piece"> Reset Piece </button>

<canvas class="threejs"></canvas>
<script type="module" src="{% static 'pyramid/js/puzzle.js' %}"></script>

  <div style="display: none;"> <!-- Hide this section for now -->
<!-- Layer 5 1x1 -->
<div class="layer-title">Layer 5 - 1x1</div>
<table>
  <tr><td>1</td></tr>
</table>

<!-- Layer 4 2x2 -->
<div class="layer-title">Layer 4 - 2x2</div>
<table>
  <tr><td>1</td><td>1</td></tr>
  <tr><td>1</td><td>1</td></tr>
</table>

<!-- Layer 3 3x3 -->
<div class="layer-title">Layer 3 - 3x3</div>
<table>
  <tr><td>1</td><td>1</td><td>1</td></tr>
  <tr><td>1</td><td>1</td><td>1</td></tr>
  <tr><td>1</td><td>1</td><td>1</td></tr>
</table>

<!-- Layer 2 4x4 -->
<div class="layer-title">Layer 2 - 4x4</div>
<table>
  <tr><td>1</td><td>1</td><td>1</td><td>1</td></tr>
  <tr><td>1</td><td>1</td><td>1</td><td>1</td></tr>
  <tr><td>1</td><td>1</td><td>1</td><td>1</td></tr>
  <tr><td>1</td><td>1</td><td>1</td><td>1</td></tr>
</table>

<!-- Layer 1 5x5 -->
<div class="layer-title">Layer 1 - 5x5</div>
<table>
  <tr><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
  <tr><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
  <tr><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
  <tr><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
  <tr><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
</table>
</div>



{% endblock %}

