{% extends 'pyramid/layout.html' %}

{% load static %}

{% block title %}Solutions{% endblock %}

{% block main %}
<!-- Add this element to pass the texture URL to JavaScript -->
<div id="texture-url" style="display: none;">{% static 'pyramid/js/snow_texture.webp' %}</div>

<script id="pyramid-data" type="application/json">
    {{ solutions|safe }}
</script>

<button id="view-pyramid-button">View Pyramid</button>
<button id="close-overlay-button" style="display: none;">Close</button>

<!-- Overlay container -->
<div id="overlay" class="overlay" style="display: none;">
  <div class="overlay-content">
    <canvas id="overlay-canvas"></canvas>
  </div>
</div>

<canvas class="threejs"></canvas>

<script type="module" src="{% static 'pyramid/js/solutions.js' %}">
    
</script>

{% endblock %}
