{% extends "layout.html" %}


{% block title %}
    Home
{% endblock %}

{% block main %}

<!-- <h1 class="mb-3">Lobby</h1> -->

<div class="cards">
    <div>
    <h5>Nqueens</h5>
        <table class="puzzle-card puzzle-card-q">
            <tr>
                <td class="puzzle-button">
                    <a class="btn btn-primary mt-3 mb-3" href="/nqueens">Go to puzzle</a>
                </td>
            </tr>
        </table>    
    </div>

    <div>
        <h5>Polysphere</h5>
        <table class="puzzle-card puzzle-card-p">
            <tr>
                <td class="puzzle-button">
                    <a class="btn btn-primary mt-3 mb-3" href="/polysphere">Go to puzzle</a>
                </td>
            </tr>
        </table>        
    </div>

    <div>
        <h5>Pyramid</h5>
        <table class="puzzle-card puzzle-card-p3">
            <tr>
                <td class="puzzle-button">
                    <a class="btn btn-primary mt-3 mb-3" href="/pyramid">Go to puzzle</a>
                </td>
            </tr>
        </table>        
    </div>
</div>


{% endblock %}