{% extends 'polysphere/layout.html' %}
{% block app_name %} Polysphere {% endblock %}
{% block title %} Home {% endblock %}

{% block main %}

<h1 class="mb-3">Polysphere</h1>

<div class="instructions text-center">
    <p><strong>Game Instructions:</strong></p>
    <p><strong>Place Pieces:</strong> Drag a piece from the deck to the board to place it.</p>
    <p><strong>Remove Pieces:</strong> Click on any placed piece on the board to remove it.</p>
    <p><strong>Rotate Pieces:</strong> Click a piece in the deck to rotate it.</p>
    <p><strong>Flip Pieces:</strong> Right-click a piece in the deck to flip it horizontally.</p>
</div>

<div class="controls text-center">
    <p><strong>Game Controls:</strong></p>
    <p><strong>Reset Board:</strong> Clears the board for a fresh start.</p>
    <p><strong>Solve Board:</strong> Automatically completes the board for you.</p>
    <p><strong>Show All Possible Solutions:</strong> View all possible solutions to the puzzle.</p>
</div>

<p class="text-center">Challenge yourself by arranging pieces in different ways to find a solution!</p>

<a href="{% url 'polysphere_puzzle' %}" class="mt-3 mb-3 btn btn-success">Go to puzzle</a>

<a href="{% url 'polysphere_generator' %}" class='btn btn-primary'>Generate all possible solutions</a>

{% endblock %}