{% extends 'polysphere/layout.html' %}

{% block title %}Puzzle{% endblock %}

{% block main %}

<!-- Load custom filers to allow use of enumerate_filter -->
{% load custom_filters %}

{% if allSolutions and sol_length %}
<form action="{% url 'polysphere_solutions' %}" method="post" class="mb-3" onsubmit="showLoading()">
    {% csrf_token %}
    <h5> There are {{sol_length}} solutions for your board </h5>
    <button name="button" value="partialConfig" class="btn btn-primary">Go see them</button>
</form>

{% else %}
<h2>Polysphere Puzzle</h2>
{% endif %}

<!-- The Board Table -->
  <table id="board" class="board">
    <tbody>
        {% for row, row_data in board|enumerate_filter %}
        <tr>
            {% for col, cell in row_data|enumerate_filter %}
            <td class="cell {% if cell %}filled {{ cell }}{% endif %}" data-row="{{ row }}" data-col="{{ col }}">
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>  

<!-- The Pieces Deck -->
<div id="pieces" class="pieces">
    {% if pieces %}
    <h3>Available Pieces</h3>
    <div class="pieces-container">
        {% for piece_key, block in pieces.items %}
        <div class="piece" data-piece-key="{{ piece_key }}" data-piece-array="{{ block }}">
            <div class="piece-visual">
                <table>
                    <tbody>
                        {% for row in block %}
                        <tr>
                            {% for cell in row %}
                            <td class="{% if cell %} {{ piece_key }}{% endif %}" draggable="true"></td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h3>No pieces left. Looks like they are all placed on the board!</h3>
    {% endif %}
</div>

<div class="solver_buttons_container">
    <!-- Form to handle both completing the board based on partial config or showing all solutions -->
    <form action="{% url 'polysphere_solver' %}" method="post" class="mb-3" onsubmit="showLoading()">
        {% csrf_token %}
        <button class="btn btn-primary" name="button" value='complete_board'>Complete my board</button>
        <button class='btn btn-success' name="button" value='all_solutions'>Show all possible solutions for my board</button>
    </form>
</div>

<!-- Form to handle both Checking solution or Resesting the board -->
<form action="{% url 'polysphere_puzzle' %}" method="post" class="mb-3">
    {% csrf_token %}
    <button class='btn btn-danger' name="button" value='reset_config'>Reset Configuration</button>
</form>



{% endblock %}