{% extends 'polysphere/layout.html' %}
{% block app_name %} Polysphere {% endblock %}
{% block title %} Solutions {% endblock %}

{% block main %}

<div>
    <h3 class="mb-3">Solutions found</h3>
    {% if solutions_len %}
        <h3>{{ solutions_len }}</h3>
    {% else %}
        <h3>0</h3>
    {% endif %}
</div>

<div class="select_boards mt-4 mb-3">
    <form method="post" action="{% url 'polysphere_solutions' %}" class="form-inline" onsubmit="showLoading()">
        {% csrf_token %}
        <div class="form-group d-flex">
            <input type="number" name="start" class="form-control mr-2" id="start" placeholder="From" min="1" required>
            <input type="number" name="end" class="form-control" id="end" placeholder="To" min="1" max="{{solutions_len}}" required>
        </div>
        <button type="submit" name="button" value="filter_boards" class="btn btn-secondary mt-3">Filter Boards</button>
    </form>
</div>

<div>
    <button id="back_button" class="btn btn-danger mb-3" onclick="goBack()">Back</button>
</div>

{% if solutions and start %}
{% load custom_filters %}
<div class="boards">
    {% for index, board in solutions|enumerate_filter:start %}
    <table class="board_s">
        <caption>Solution {{ index }}</caption>
        <tbody>
            {% for row_data in board %}
            <tr>
                {% for cell in row_data %}
                <td class="cell {% if cell %}filled {{ cell }}{% endif %}"></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
</div>
{% endif %}

{% endblock %}